body {
    font-family: Arial, sans-serif; /* Sets the font for the entire page */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    background-color: #f4f4f4; /* Sets the background color for the page */
 }
 header {
    background-color: #4683b7;  /* Sets the background color of the header */
    color: #fff; /* Sets the text color to white */
    padding: 1rem; /* Adds padding around the header content */
    text-align: center; /* Centers the text in the header */
 }
 nav ul {
    list-style: none;  /* Removes the bullet points from the list */
    padding: 0;  /* Removes default padding from the list */
 }
 nav ul li {
    display: inline;  /* Displays the list items horizontally */
    margin: 10px;  /* Adds space between each list item */
 }
 nav ul li a {
    color: #fff; /* Sets the text color to white for the links */
    text-decoration: none; /* Removes the underline from the links */
 }
 main {
    padding: 1rem; /* Adds padding around the main content */
 }
footer {
 background-color: #4683b7;  /* Sets the background color for the footer */
 color: #fff;  /* Sets the text color to white */
 text-align: center; /* Centers the text in the footer */
 padding: 1rem; /* Adds padding around the footer content */
 position: fixed;  /* Fixes the footer at the bottom of the page */
 width: 100%; /* Ensures the footer spans the entire width of the page */
 bottom: 0;  /* Positions the footer at the bottom of the page */
 }

 section{
    margin-bottom: 100px; /* Adds space below each section */
 }